/* iframe 디자인은 index.js에 되어있음 */
@font-face {
    font-family: custom;
    src: url(GowunDodum-Regular.ttf);
}
/* styles.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    overflow-x: hidden;
    background-color:rgba(30,30, 30, 0.8);
}

#scrollable-div {
    width: 100%;
    height: 80vh; /* Limit the visible height */
    overflow-y: scroll; /* Make the container scrollable */
  }


.overlay {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50vh;
    background: rgba(30, 30, 30, 0.8); /* Half transparent */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.3);
   /* transition: height 0.3s ease;  Sliding transition */
    overflow: hidden;

}

#scroll-value{
    color:white;
}

#first-image{
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
#blankdiv{
    background: rgba(30, 30, 30, 0.8); /* Half transparent */
}

.audio-player-container {
    /*
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    padding: 10px;
    z-index: 1000; /* Ensure it's above other content */

    margin-top: auto; /* Pushes the audio player down to the bottom */
    padding: 10px;
    background-color: #f1f1f1;
    border-top: 1px solid #ccc;
    height:45px;
}

audio {
    width: 100%; /* Make the audio player stretch across the screen */
    max-width: 600px; /* Optional: You can control the maximum width */
    margin: 0 auto 20px auto; /* Center it horizontally */
    display: block;
    height:100px;
}

.nav-container{
    /*
    background-color: gray;
    border-radius: 15px;
    height: 50px;
    position: absolute;
    bottom: 0; /* Moves the div to the bottom of the parent 
    width: 100%;
    */
    position: absolute;
    background: rgba(30, 30, 30, 0.8);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    height: 50px;
    bottom: 0;
    left: 0;
    width: 100%; /* Make it span the full width of the viewport */
    z-index: 1000; /* Ensures it stays on top of other elements */
}

#prev_nav_img{
    float: left;
    margin-left: 25px;
    width: 30px; /* Adjust the size of the icon */
    height: 38px;
    margin-top: 10px;
}

#next_nav_img{
    float:right;
    margin-right: 25px;
    width: 30px; /* Adjust the size of the icon */
    height: 38px;
    margin-top: 10px;
}



iframe { 
    display:none;
    margin: auto;
    padding: none;
    border: none; 
}

#title{
    font-family: custom;
    color:black;
    text-align: center;
    margin-bottom: 0;
    display:none;
}

#lang-icon{
    position: absolute;
    top: 10px; /* Adjust the vertical distance from the top */
    right: 10px; /* Adjust the horizontal distance from the right */
    width: 40px; /* Adjust the size of the icon */
    height: 40px;
    cursor: pointer;
}

.container{
    position: relative;
    flex-grow: 1;
    overflow: scroll; 
}

.mainText{
    font-family: custom;
    color:white;
    text-align: left;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;



}

pre {
    font-family: custom;
    font-size: 20px;
 }
 

